<!DOCTYPE html>
<html lang="pt-BR">
    <!-- Inclusão do css no html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/fluency/48/000000/chatbot.png"/>
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chatbot</h4>
                    <p class="chatbox__description--header">Me chamo Bea e sou sua assistente virtual. Como posso ajudar?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Digite sua mensagem...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img width="35" height="35" src="{{ url_for('static', filename='images/icons8-typing.gif') }}" /></button>
        </div>
    </div>
</div>

<!-- Definição de scripts pra identificação no js-->
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <!-- Inclusão do app.js no html -->
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>